a(href="http://www.ayoy.se/")
    img.img-responsive.half-width(src="img/ayoy-logo-square.svg")
h1.text-center FIDO U2F Demo
p.text-center A simple FIDO U2F demonstration comprising of registration, authentication and signing.
hr
